/* Reset básico */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: white;
  width: 95%;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #1e3c72;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  background: #1e3c72;
  color: white;
  font-weight: bold;
}

#documentList {
  margin-top: 20px;
}

.doc-item {
  background: #f2f2f2;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

#viewer {
  margin-top: 20px;
}

#viewer img,
#viewer iframe {
  width: 100%;
  border-radius: 10px;
}